<mat-toolbar color="primary" class="expandToolBar">
     
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  <img class="logo"
    src="../../assets/img/j&j sales.png">
  <p class="titleLogo"><b>Kiiwik </b></p>
  <span class="spacer"></span>
  <a  mat-button routerLink="/">Inicio</a>
  <a  mat-button routerLink="/about" >Quines Somos</a>
  <a  mat-button routerLink="/admin/product-list" >Productos</a>
  <a  mat-button routerLink="/contact" >Contactenos</a>
  <!-- <button mat-raised-button color="primary">Iniciar Sesión</button> -->
</mat-toolbar>