<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: (isHandset$ | async) === false}" [fixedInViewport]="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="titleLogo"><b>Kajulu</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item >
        <mat-icon class="counter_product">
          home</mat-icon> INICIO
      </a>
      <a mat-list-item *ngIf="cartItems == null" (click)="navigate('/cart', drawer)" >
        <mat-icon class="counter_product">
          add_shopping_cart</mat-icon> Carrito
      </a>
      <a mat-list-item *ngIf="cartItems != null" (click)="navigate('/cart', drawer)" >
        <mat-icon matBadge="{{cartItems}}" matBadgeColor="warn" class="counter_product">
          add_shopping_cart</mat-icon> Carrito
      </a>
      <a mat-list-item (click)="navigate('/contact', drawer)" >
        <mat-icon class="counter_product">
          contact_phone</mat-icon> CONTACTENOS
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> 
    <mat-toolbar color="primary" class="expandToolBar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img class="logo" src="../../assets/kiiwik.png">
        <!-- <p class="titleLogo"><b>J&J Sales</b></p> -->
        <span class="spacer"></span>
        <a *ngIf="(isHandset$ | async) === false" style="border-bottom: 1px solid #fff;" mat-list-item>
          <mat-icon class="counter_product">
            home</mat-icon> Inicio
        </a>
        <a *ngIf="(isHandset$ | async) === false && cartItems == null" mat-list-item routerLink="/cart">
          <mat-icon class="counter_product">
            shopping_cart</mat-icon> Carrito
        </a>
        <a *ngIf="(isHandset$ | async) === false && cartItems != null" mat-list-item routerLink="/cart">
          <mat-icon matBadge="{{cartItems}}" matBadgeColor="warn" class="counter_product">
            shopping_cart</mat-icon> Carrito
        </a>
        <a *ngIf="(isHandset$ | async) === false" mat-list-item routerLink="/contact">
          <mat-icon class="counter_product">
            contact_phone</mat-icon> Contactenos
        </a>
        <!-- <button mat-raised-button color="primary">Iniciar Sesión</button> -->
      </mat-toolbar>

      <mat-toolbar style="background: rgba(255, 255, 255, 0.0)">
        <div class="row">
          
        </div>
        <input matInput type="text" class="searchTerm" [(ngModel)]="searchText" placeholder="Buscar...">
      </mat-toolbar>



      <mat-grid-list [cols]="breakpoint" rowHeight="2:2.7" (window:resize)="onResize($event)">
        <ng-container>
          <mat-grid-tile *ngFor="let product of products | filter: searchText; let i = index">
            <mat-card class="bodyCards">
              <h5 class="card_title">{{product.name}}</h5>
              <h5 class="card_subTitle">{{product.description}}</h5>
              <div class="card_img">
                <img src="../../../../assets/product.png" alt="photo">
              </div>
              <div class="divInlineContainer">
                <div class="divInline">
                  <p class="card_text">{{product.price | currency: 'L '}}</p>
                  <p class="counter">
                    <mat-icon class="counter_product"  (click)="minusCuantity(i)">remove_circle</mat-icon> {{product.qtd}}
                    <mat-icon class="counter_product" (click)="addCuantity(i)" >
                      add_circle</mat-icon>
                  </p>
                </div>
                <div class="divInline">
                  <button mat-raised-button (click)="saveToCart(product)"  color="primary">Agregar <mat-icon>
                      add_shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>

      <div class="footer-distributed ">
        <div class="footer-left ">
          <img class="logo_footer" src="../../assets/img/kajulu.png">
        </div>
  
        <div class="footer-center ">
          <!-- <p class="footer-links ">
            <a href="# " class="link-1 ">Inicio</a>
            <a href="# ">Contactenos</a>
          </p> -->
          <div>
            <i class="fa fa-phone "></i>
            <p>(504) 3286-8659</p>
          </div>
          <div>
            <i class="fa fa-envelope "></i>
            <p><a href="mailto:karenknak@hotmail.com">karenknak@hotmail.com</a></p>
          </div>
        </div>
  
        <div class="footer-right ">
          <p class="footer-company-about ">
            <span>Acerca de KAJULU</span>
            Una Empresa de Ventas...
          </p>
          <div class="footer-icons ">
            <a class="btn btn-icon btn-facebook" href="https://www.facebook.com/Kajulu-104513321291107" target="_blank"><i
                class="fa fa-facebook"></i></a>
            <a class="btn btn-icon btn-instagram" href="https://www.instagram.com/kajulu_/?hl=es-la" target="_blank"><i
                class="fa fa-instagram"></i></a>
            <a class="btn btn-icon btn-whatsapp" href="https://wa.me/50432868659/" target="_blank"><i
                class="fa fa-whatsapp"></i></a>
          </div>
        </div>
      </div>




  </mat-sidenav-content>

</mat-sidenav-container>   
